* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 1;
  flex-basis: auto;
  overflow: hidden;
  background-color: white;
  width: 100%;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.header ul img {
  width: 50px;
  height: 50px;
}
.header ul li {
  padding-right: 30px;
}
.header ul li a:hover {
  color: blue;
  transition: 0.5s ease-in-out;
}
.header a {
  text-decoration: none;
  color: darkblue;
  font-size: 20px;
  font-weight: bold;
}
.header .wallet {
  margin-right: 200px;
}
.header .connect {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #08085e;
  border-radius: 100px;
  color: #08085e;
  margin-left: 250px;
  margin-bottom: 10px;
}
.header .connect:hover {
  border: 2px solid blue;
  color: blue;
  transition: 0.5s ease-in-out;
}
.header .navv {
  display: none;
  background-color: #ccc;
  position: fixed;
  height: 200px;
  width: 400px;
  z-index: 1;
  transform: translateY(40px);
}
.header .navv .fa {
  font-size: 20px;
  float: right;
  display: block;
  padding: 20px;
}
.header .navv .fa:hover {
  color: white;
  transition: 0.2s ease-in-out;
}
.header .navv ul {
  display: block;
}
.header .navv li a {
  text-decoration: none;
  color: #050552;
  font-size: 20px;
  display: block;
  padding: 10px;
}
.header .navv li a:hover {
  color: white;
  transition: 0.2s ease-in-out;
}
.header .font {
  display: none;
}
.header .font .fas {
  font-size: 40px;
  color: #050552;
  padding: 5px;
  border-radius: 10px;
}
.header .font .fas:hover {
  color: black;
  transition: 0.5s ease-in-out;
}

.menu {
  background-color: #08085e;
  width: 100%;
  padding: 30px;
  margin-top: 10px;
  margin-top: 100px;
}
.menu h1 {
  color: #fff;
  font-size: 40px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.menu a:hover {
  color: lightblue;
  transition: 0.5s ease-in-out;
}

.img-header {
  margin-top: 10px;
}
.img-header img {
  width: 600px;
  height: 600px;
}

.avail h2 {
  color: #050552;
  font-weight: bolder;
  margin-top: 20px;
}

.wall {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-left: 10%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.897), rgba(255, 255, 255, 0.616)), url(../images/undraw_Credit_card_payment_re_o911.png);
  background-size: cover;
}
.wall img {
  width: 70px;
  height: 70px;
}
.wall h3 {
  display: inline;
  padding-left: 40px;
}
.wall .each-grid {
  width: 95%;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}
.wall .each-grid a {
  padding: 15px 40px;
  text-align: end;
  text-decoration: none;
  color: white;
  background-color: orangered;
  border-radius: 50px;
  display: inline-block;
  font-size: 18px;
}
.wall .each-grid a:hover {
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url(../images/foot.png);
  background-size: cover;
  border-top: 1px solid #ccc;
}
.footer img {
  width: 50px;
  height: 50px;
}
.footer p {
  color: #050552;
  font-size: 18px;
  margin-top: 10px;
}
.footer h2 {
  color: black;
  padding-bottom: 20px;
}
.footer .footer-grid1 {
  padding-left: 250px;
}
.footer .footer-grid2 input {
  height: 60px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #ccc;
}
.footer .footer-grid2 input[type=text]::placeholder {
  text-align: center;
  font-family: fantasy;
}
.footer .footer-grid2 button {
  background-color: #050552;
  padding: 15px 40px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}
.footer .footer-grid2 a {
  display: block;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
.footer .footer-grid2 a:hover {
  color: #050552;
  transition: 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .header ul li .none {
    display: none;
  }

  .header .connect {
    display: none;
  }

  .header .font {
    display: block;
  }

  .wall {
    margin-left: 10px;
  }

  .footer {
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.897), rgba(255, 255, 255, 0.616)), url(../images/foot.png);
    margin-top: 20px;
  }
  .footer .footer-grid1 {
    padding-left: 30px;
    padding-bottom: 40px;
  }
  .footer .footer-grid2 {
    padding-left: 30px;
  }
}
@media (max-width: 1400px) {
  .header ul li .none {
    display: none;
  }

  .header .connect {
    display: none;
  }

  .header .font {
    display: block;
  }
}

/*# sourceMappingURL=connect.css.map */
